<div class="container color-dark">
    <div class="container color-light"  [@animobjectifs]="objectifs.length">
      <div class="col">
        <p class="life-container">Un nouvel élément de liste ({{ nbItems }})</p>
        
        <input type="text" class="txt" placeholder="mon nouveau objectif" [(ngModel)]="objectifText">
        <button type="button" [value]="btnText" class="btn" (click)="ajoutItem()" > {{btnText}} </button>
        
        <p>{{ objectifText }}</p>
  
        <div *ngFor="let element of objectifs">
          <p class="life-container">{{ element }}</p>
        </div>
      </div>
    </div>
  </div>
  